body
{
    margin: 0;
}

.cont
{
    background-color: rgb(0, 35, 85);
}

.tabla
{
    margin: 0 auto;
}

.filas
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.resultados
{
    display: flex;
    gap: 20px;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: rgb(0, 2, 48);
    padding: 20px;
}

h6 
{
    vertical-align: middle;
    text-align: center;
    color: white;
}

.medirImagen
{
    width: 250px;
    height: 250px;
}

.imagen
{
    width: 250px;
}

.link
{
    width: 100px;
}

.titulo
{
    width: 400px;
}

.precio
{
    width: 120px;
}

